 @keyframes rotate {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(-180deg);
     }
 }

 * {
     padding: 0;
     justify-content: center;
     align-content: center;
     margin: 0;
 }

 .body {
     display: flex;
     background-color: purple;
     font-family: Arial, Helvetica, sans-serif, poppins;
 }

 .rotate-logo {
     animation: rotate 6s linear infinite;
     border-radius: 50%;
     margin-right: 100%;
 }

 header {
     border-radius: 18px orange;
     display: flex;
     width: 135%;
     background-color: black;
     justify-content: space-around;
     text-align: center;
     filter: drop-shadow(5px 5px purple);
     padding: 10px 25px;
     margin-top: 5px;
 }

 .h1 {
     display: flex;
     width: 100%;
     font-family: sans-serif;
     color: burlywood;
     font-size: 1.8rem;
     font-weight: bolder;
 }

 .h2 {
     display: flex;
     font-weight: bolder;
     width: 50%;
     font-size: large;
     margin-left: 100px;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
 }



 .nav-bar {
     display: flex;
     width: 149.5%;
     justify-content: center;
     text-align: center;
     text-decoration: none;
     background-color: black;
     font: bolder;
     font-size: medium;
 }

 .nav-bar .ul {
     margin: 0;
     padding: 10px;
 }

 .nav-bar li {
     display: inline-flex;
     padding: 10px;
 }

 .nav-bar li a {
     display: inline-flex;
     font-size: 1.5rem;
     font-weight: bolder;
     text-decoration: none;
     color: white;
     justify-content: space-between;
 }

 .nav-bar a {
     display: none;
 }

 .nav-bar a:hover {
     background-color: purple;
     border-radius: 5px;
 }

 .nav-bar .dropdown-menu {
     display: none;
     position: absolute;
     top: 100%;
     left: 0;
     background-color: purple;
     padding: 10px;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

 }

 .dropdown-menu:hover .dropdown-menu {
     display: block;
 }

 .dropdown-menu .li {
     display: block;
     margin-right: 0;
 }

 .dropdown-menu .a {
     padding: 10px;
     display: block;
 }

 q .nav-bar .dropdown-menu:hover {
     display: none;
     margin-top: 10px;
 }

 .grid-container {
     display: grid;
     width: 149%;
     justify-items: center;
     justify-content: center;
     margin: 0;
     padding: 0;
     color: white;
     text-decoration: none;
     grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 button:hover {
     opacity: 0.5;
 }

 .grid-item {
     justify-content: center;
     align-items: center;
     text-align: center;
     color: black;
     margin: 0;
     padding: 0;
     text-decoration: none;
     background-color: darkorchid;
     font-weight: bold;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     flex-wrap: wrap;
 }


 .grid-item:hover {
     margin-top: 3px;
 }

 .grid-item img {
     border-radius: 50%;
     position: relative;
 }

 .grid-item img:hover {
     height: 35%;
     width: 70%;
 }

 .grid-item p {
     color: black;
     text-decoration: none;
     font-weight: bold;
 }

 .find-button {
     display: flex;
     margin-top: 8px;
     color: white;
     text-align: center;
     border-radius: 8px;
     background-color: green;
     cursor: pointer;
     text-decoration: none;
 }

 .find-button:hover {
     opacity: 1;
     color: green;
     filter: drop-shadow(5px 5px 5px blue);
 }

 .search-button {
     display: flex;
     color: white;
     background-color: green;
     border: -10px;
     cursor: pointer;
 }

 .search-button:hover {
     opacity: 0.2;
 }

 .sign-up {
     display: flex;
     color: white;
     background-color: green;
     border: -5px;
     cursor: pointer;
 }

 .sign-up:hover {
     opacity: 0.3;
 }

 .footer {
     background-color: black;
     padding: 35px 0;
     margin-top: 1%;
     width: 150%;
 }

 .footer-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between ;
     max-width: 0 auto;
     padding: 0 30px;
 }

 .footer-section {
     flex-basis: 95%;
     margin-bottom: 20px;
 }

 .footer-section,
 p {
     color: gold;
     font-size: 1.2rem;
 }

 .footer-section h4 {
     margin-top: 8px;
     justify-content: space-evenly;
 }

 .footer-section ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }


 .footer-section li {
     margin-bottom: 10px;

 }

 .footer-section a {
     color: #fff;
     text-decoration: none;

 }

 .footer-bottom {
     background-color: black;
     padding: 8px 0;
     text-align: center;
     clear: both;

 }

 .placeholder {
     padding: 20px;
     border-radius: 25px;
 }