 @keyframes rotate {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(-180deg);
     }
 }

 *{
    padding: 0;
    margin: 0;
 }
 .body {
    width: 100%;
    background-color: black;
     font-family: Arial, Helvetica, sans-serif, poppins;
 }

 .rotate-logo {
     animation: rotate 6s linear infinite;
     border-radius: 50%;
     margin-right: 100%;
 }

 header {
     border-radius: 18px orange;
        display: flex;
        width: auto;
     background-color: black;
     justify-content: space-around;
     text-align: center;
     filter: drop-shadow(5px 5px purple);
     padding: 10px 25px;
 }

 .h1 {
     display: flex;
     width: 100%;
     font-family: sans-serif;
     color: burlywood;
     font-size: 1.8rem;
     font-weight: bolder;
 }

 .h2 {
     display: flex;
     font-weight: bolder;
     width: 90%;
     font-size: large;
     margin-left: 100px;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
 }



 .nav-bar {
     display: flex;
     justify-content: center;
     text-align: center;
     text-decoration: none;
     background-color: black;
     font: bolder;
     font-size:medium;
 }

 .nav-bar .ul {
     margin: 0;
     padding: 10px;
 }

 .nav-bar li {
    display: inline-flex;
     padding: 10px;
 }

 .nav-bar li a {
     display: inline-flex;
     text-decoration: none;
     color: white;
     justify-content: space-between;
 }

 .nav-bar a {
     display: none;
 }

 .nav-bar a:hover {
     background-color: purple;
     border-radius: 5px;
 }

 .nav-bar .dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: purple;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

 }

 .dropdown-menu:hover .dropdown-menu{
 display: block;
 }

 .dropdown-menu .li{
    display: block;
    margin-right: 0;
 }

 .dropdown-menu .a{
 padding: 10px;
 display: block;
  }

 .nav-bar .dropdown-menu:hover{
    display: none;
    margin-top: 10px;
 }

 .grid-container {
     display: grid;
     width: auto;

     margin:0;
     padding: 0;
     color: white;
     text-decoration: none;
     grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 button:hover {
     opacity: 0.5;
 }

 .grid-item {
     justify-content: center;
     align-items: center;
     text-align: center;
     color: black;
     margin: 0;
     padding: 0;
     text-decoration: none;
     background-color: darkorchid;
     font-weight: bold;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     flex-wrap: wrap;
 }


 .grid-item:hover {
     margin-top: 3px;
 }

 .grid-item img {
     border-radius: 50%;
     position: relative;
 }

 .grid-item img:hover {
     height: 35%;
     width: 70%;
 }

 .grid-item p {
     color: black;
     text-decoration: none;
     font-weight: bold;
 }

 .search-button {
     display: flex;
     color: white;
     background-color: green;
     border: -10px;
     cursor: pointer;
 }

 .search-button:hover {
     opacity: 0.2;
 }

 .sign-up {
     display: flex;
     color: white;
     background-color: green;
     border: -5px;
     cursor: pointer;
 }

 .sign-up:hover {
     opacity: 0.3;
 }

 .footer {
     background-color: black;
     padding: 10px 0;
     margin-top: 1%;
 }

 .footer-container {
     display: flex;
     width: 100%;
     flex-wrap: wrap;
     justify-content: space-between;
     max-width: 0 auto;
     padding: 0 25px;
 }

 .footer-section {
     flex-basis: 30%;
     margin-bottom: -20px;
 }

 .footer-section,
 p {
     color: gold;
 }

 .footer-section h4 {
     margin-top: 8px;
 }

 .footer-section ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }


 .footer-section li {
     margin-bottom: 8px;

 }

 .footer-section a {
     color: #fff;
     text-decoration: none;

 }

 .footer-bottom {
     background-color: black;
     padding: 6px 0;
     text-align: center;
     clear: both;

 }

 .placeholder {
     padding: 20px;
     border-radius: 25px;
 }